{% extends 'maqueta.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% block titleHead %}
        <title>Fundación Mis Perris: Acceso denegado.</title>
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% endblock %}
    {% block cssHead %}
        <link rel="stylesheet" href="{% static 'css/normal.css' %}"> 
    {% endblock %}
</head>

<body>
    <!-- Contenido de la pagina -->
    {% block contenido %}
    <!-- Creando el cuerpo de la pagina -->
    <section>
            <div id="contenedorForm" class="contenedor-formulario">
                <h1>Acdceso denegado.</h1>
            <br>
            <hr><br>
            <p>
                No tiene los permisos necesarios para ejecutar la opción seleccionada.
            </p>
            </div>
    </section>
    {% endblock %}
</body>

</html>